/*
 * Application uses a flexbox layout to container the rows and
 * expand to consume the whole viewport
 */

.Application {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  justify-content: flex-start;

  height: 100vh;
  width: 100vw;

  min-height: 600px;
  min-width: 500px;
}